<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <title>Editor Page</title>
    <link href="css/mystyle.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.1.1/css/all.css">
    <script src="js/editorPage.js"></script>
</head>
<body>

<nav class="navbar" >
    <div class="container" style="background-color: #1a1e21; width: 100%">
        <a class="navbar-brand" href="#!" style="color: #ffffff">Rong's Blog</a>

            <ul class="navbar-list">
                <li class="nav-item"><a class="nav-link" href="#" >Home</a></li>
                <li class="nav-item"><a class="nav-link" href="#">About</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Contact</a></li>
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="#">Start your own Blog !</a></li>
            </ul>
        </div>
</nav>

<header class="py-5 bg-light border-bottom mb-4">
    <div class="container">
        <div class="text-center my-5">
            <h1 class="fw-bolder">Upload your story !</h1>
        </div>
    </div>
</header>
<div class="editor-form">
    <form action = "editor.html" method="post" style="text-align: center" enctype="multipart/form-data">
        <table style="width: 100%">
            <tr>
                <td>
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="input-group">
                                <span class="input-group-text" >Title</span>
                                <input class="form-control" type="text" placeholder="Enter your title here...">
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="input-group">
                                <span class="input-group-text">Introduction</span>
                                <input class="form-control" type="text" placeholder="Enter introduction to describe your story..." aria-label="Enter search term...">
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="card mb-4">
                        <span class="input-group-text">Story</span>
                        <textarea style="border: 1px;padding: 3em" class="form-control" placeholder="Enter your story here..."></textarea>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="card mb-4">
                        <!--<div class="input-group-text" style="justify-content: center">-->
                            <!--<input type="file" name="file" id="file" class="inputfile" onchange="changepic(this)" style="display: none">
                            <label for="file" class='btn btn-success' style="width: 10em; font-size: 2rem;margin: 15px">Choose a file</label>-->
                            <div class="input-group">
                                <input type="file" class="form-control" onchange="changepic(this)" id="file" aria-describedby="file" aria-label="Upload">
                                <img src="" id="show" width="200">
                                <button class="btn btn-success" type="button" style="margin: 14px" id="inputFile">确认上传 <i class="fa-solid fa-arrow-up-right-from-square"></i></button>
                            </div>


                        </div>
                    
                </td>
            </tr>
        </table>
    </form>
</div>


<footer class="py-5 bg-dark">
    <div class="container"><p class="m-0 text-center text-white"></p></div>
</footer>
</body>

</html>