<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>My Blog Homepage</title>
    <link href="css/mystyle.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.1.1/css/all.css">
</head>
<body>

<nav class="navbar">
    <div class="container" style="background-color: #1a1e21; width: 100%">
        <a class="navbar-brand" href="#!" style="color: #ffffff">Rong's Blog</a>
            <br><ul class="navbar-list">
                <li class="nav-item"><a class="nav-link" href="#">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="#">About</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Contact</a></li>
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="#">Start your own Blog !</a></li>
            </ul>
        </div>
    </div>
</nav>

<header class="py-5 bg-light border-bottom mb-4">
    <div class="container">
        <div class="text-center my-5">
            <h1 class="fw-bolder">Welcome to My Blog!</h1>
           <!-- <h5 class="fw-bolder1">写真館</h5>-->
        </div>
    </div>
</header>

<div class="container">
    <div class="row">

        <div class="col-lg-8">

            <!--<div class="card mb-4">
                <a href="#!"><img class="card-img-top" src="img/1.jpg" alt="..." /></a>
                <div class="card-body">
                    <div class="small text-muted">January 28, 2022</div>
                    <h2 class="card-title">Hokkaido</h2>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla? Quos cum ex quis soluta, a laboriosam. Dicta expedita corporis animi vero voluptate voluptatibus possimus, veniam magni quis!</p>
                    <a class="btn btn-dark" href="#!">Read more →</a>
                </div>
            </div>-->

            <div class="row">
                <div class="col-lg-6">

                    <div class="card mb-4">
                        <a href="#!"><img class="card-img-top" src="img/3.jpg" alt="..." /></a>
                        <div class="card-body">
                            <div class="small text-muted">June 4, 2018</div>
                            <h2 class="card-title h4">Post Title</h2>
                            <p class="card-text">Introduction</p>
                            <a class="btn btn-dark" href="#!">Read more →</a>
                        </div>
                    </div>

                    <div class="card mb-4">
                        <!--<a href="#!"><img class="card-img-top" src="img/4.jpg" alt="..." /></a>-->
                        <div class="card-body">
                            <div class="small text-muted">March 7, 2021</div>
                            <h2 class="card-title h4">Post Title</h2>
                            <p class="card-text">Introduction</p>
                            <a class="btn btn-dark" href="#!">Read more →</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">

                    <div class="card mb-4">
                        <a href="#!"><img class="card-img-top" src="img/2.jpg" alt="..." /></a>
                        <div class="card-body">
                            <div class="small text-muted">January 28, 2022</div>
                            <h2 class="card-title h4">Post Title</h2>
                            <p class="card-text">Introduction</p>
                            <a class="btn btn-dark" href="#!">Read more →</a>
                        </div>
                    </div>

                    <div class="card mb-4">
                        <!--<a href="#!"><img class="card-img-top" src="img/6.jpg" alt="..." /></a>-->
                        <div class="card-body">
                            <div class="small text-muted">January 1, 2022</div>
                            <h2 class="card-title h4">Post Title</h2>
                            <p class="card-text">Introduction</p>
                            <a class="btn btn-dark" href="#!">Read more →</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4">

            <div class="card mb-4">
                <div class="card-header">Search　検索</div>
                <div class="card-body">
                    <div class="input-group">
                        <input class="form-control" style="width: 70%" type="text" placeholder="Enter search term..." aria-label="Enter search term..." aria-describedby="button-search">
                        <button class="btn btn-dark" id="button-search" type="button"><i class="fa-solid fa-magnifying-glass"></i></button>
                    </div>
                </div>
            </div>

            <div class="card mb-4">
                <div class="card-header">News　ニュース</div>
                <div class="card-body">
                    <div class="row news-list" style="font-size: 15px">
                        <div class="col-sm-4">
                            <ul class="list-unstyled mb-0" style="color: #1a1e21 ">
                                <!--<li><a href="#!">成人式</a></li>-->
                                <li><a href="#!">卒業式</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-4">
                            <ul class="list-unstyled mb-0">
                                <li><a href="#!">旅行</a></li>
                                <!--<li><a href="#!">証明写真</a></li>-->
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card mb-4">
                <div class="card-header">Campaign　キャンペーン</div>
                <div class="card-body"></div>
            </div>
        </div>
    </div>
</div>

<footer class="py-5 bg-dark">
    <div class="container" style="background-color: #1a1e21; width: 100%; height:78px"><p class="m-0 text-center text-white" ></p></div>
</footer>
</body>
</html>
