<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        body{background-color: #383c50;
        font-family: "Arial Black";
            border: 200px solid #383c50;
        }
    </style>
</head>

<body>
<div style="text-align: center;">
<h1><b>Login</b></h1>
<!--<p style="color: lightgray">Please fill in this form to create an account.</p>-->
</div>
    <hr>
            <form action="google.com" method="post">

                <label for="email">Email</label><br>
                <input type="text" id="email" name="email" placeholder="your email" style="background: aliceblue;width:98%;"><br></td>
                <label for="pwd">Password</label><br>
                <input type="text" id="pwd" name="pwd" placeholder="your password"  style="background: aliceblue;width:98%;"><br></td>
            </form>

    <div style="text-align: center;">
            <i><button  id="login" style="color: aliceblue;background-color: dodgerblue ;width:20%;height: 30px;">Submit</button></i>
    <hr>
    <p style="margin-left: 30px;font-family: Arial;" class="aaa">Don't have an account?<a href="http://www.google.com" style="color: deepskyblue">Sign Up</a>.</p>
    </div>
</body>
</html>