<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.1.1/css/all.css">
    <title>MyBlog Login</title>
    <style>
        body{
            background-color: #212529;
        }
        .login-form {
            width: 80%;
            max-width: 500px;
            margin: calc(50vh - 150px) auto;
            border: 1px solid black;
            border-radius: 10px;
            padding: 3em;
            background: whitesmoke;
        }
        .btn{
            font-size:15px;
        }
        table{
            font-family: Calibri;
        }
    </style>
</head>
<body>

<div class="login-form">
    <div style="text-align: center">
        <i class="fa-thin fa-circle-user fa-5x"></i>
    </div>
    <div>
        <h1><p class="login" style="font-family: 'Arial Black';text-align: center"><b>Login Here</b></p></h1>
    </div>
        <form action = "login.html" method="post">

            <table style="width: 100%">
                <tr>
                    <td>
                        <span class="un" style="text-align: left"><b>User Name</b></span>
                        <label for="username"></label>
                        <input class="form-control" type="text" id="username" name="username" placeholder="Enter Your User Name" style="background: whitesmoke;width:100%;"><br>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span class="pwd" style="text-align: left"><b>Password</b></span>
                        <label for="pwd"></label>
                        <input class="form-control" type="text" id="pwd" name="pwd" placeholder="Enter Your Password"  style="background: whitesmoke;width: 100%"><br>
                    </td>
                </tr>
            </table>

                <div style="font-family: Calibri" >
                    <br><input type="checkbox"><span style="margin-left: 5px;font-family: Calibri">I accept the <a href="https://www.google.com/" style="color: mediumseagreen">Terms&Privacy</a> & <a href="https://www.google.com/" style="color: mediumseagreen">Terms of user</a>.</span>
                </div>
                <br><div style = "width:99%;
                                  height:40px;">
                    <input type="submit" class="btn btn-primary rounded submit p-3 px-5" value="Login" style="width: 99%;
                                                                                                              height:40px;
                                                                                                              background-color: mediumseagreen;">
                </div>
        </form>

        <br><p style="margin-left: 30px;
                      font-family: Calibri;
                      text-align: center"><a href="https://www.google.com/" style="color: mediumseagreen">Forgot Password ?</a></p>
        <br><p style="font-family: Calibri;
                      text-align: center" class="aaa">Have no account yet ? <a href="http://www.google.com" style="color: mediumseagreen"> Register</a>.</p>
    </div>
</div>

</body>
</html>