<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <title>MyBlog Login</title>
    <style>
        body{
            background: #212529;
        }
        .login-form {
            width: 80%;
            max-width: 500px;
            margin: calc(50vh - 150px) auto;
            border: 1px solid black;
            border-radius: 10px;
            padding: 3em;
            background: whitesmoke;
        }
        .btn{
            font-size:15px;
        }
    </style>
</head>
<body>

<div class="login-form">
    <div>
        <h1><p class="login" style="font-family: 'Arial Black'"><b>Login Here</b></p></h1>
    </div>
        <form action = "login.html" method="post">

        <table style="text-align:center">
            <tr>
                <td>
                    <label for="username"></label>
                    <input type="text" id="username" name="username" placeholder="Enter UserName" style="background: whitesmoke;width:100%;"><br>
                </td>
            </tr>
            <!--<tr>
                <td colspan="2"><input type="text" name="email" placeholder="Email" style="background: whitesmoke;width:98%;"><br></td>
            </tr>-->
            <tr>
                <td>
                    <label for="pwd"></label>
                    <input type="text" id="pwd" name="pwd" placeholder="Enter Password"  style="background: whitesmoke;width: 100%"><br>
                </td>
            </tr>
        </table>
        <div style="font-family: Calibri" >
            <br><input type="checkbox"><span style="margin-left: 5px;font-family: Arial">I accept the<a href="https://www.google.com/" style="color: mediumseagreen">Terms&Privacy</a> & <a href="https://www.google.com/" style="color: mediumseagreen">Terms of user</a>.</span>
            <div class="d-grid gap-2">
                <br><input button type="submit" class="btn btn-primary" value="Sign Up"  style="background: mediumseagreen;color: aliceblue">
            </div>
        </div>
        </form>
        <br><p style="margin-left: 0px;font-family: Calibri" class="aaa">Have no account yet?<a href="http://www.google.com" style="color: mediumseagreen"><b>Register</b></a>.</p>
    </div>
</div>

</body>
</html>