<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <title>MyBlog Register</title>
    <style>
        body{
            background: #212529;
            font-family: Calibri;
        }
        .register-form{
            width: 80%;
            max-width: 500px;
            margin: calc( 50vh - 150px ) auto;
            border: 1px solid black;
            border-radius: 10px;
            padding: 3em;
            background: whitesmoke;

        }
        .btn{
            font-size:15px;
        }
        table{
            font-family: Calibri;
        }
    </style>
</head>
<body>

<div class="register-form">
    <div>
        <h1><p class="register" style="font-family: 'Arial Black'"><b>Register</b></p></h1>
            <div>
                <h5><p style="font-family: Calibri Light ; color: #212529">Please fill in this form to create an account.</p></h5>
            </div>
    </div>

    <div>
        <form action = "register.html" method="post">
            <table>
                <tr>
                    <td>
                        <span class="un" style="text-align: left">User Name</span>
                        <label for="username"></label>
                        <input class="form-control" type="text" id="username" name="username" placeholder="Enter Your UserName" style="background: whitesmoke;width:100%;"><br>
                    </td>
                </tr>
                <!--<tr>
                    <td colspan="2"><input type="text" name="email" placeholder="Email" style="background: whitesmoke;width:98%;"><br></td>
                </tr>-->
                <tr>
                    <div style = "width:99%;
                                height:10px;">
                    <td>
                        <span class="un" style="text-align: left">Password</span>
                        <label for="pwd"></label>
                        <input class="form-control" type="text" id="pwd" name="pwd" placeholder="Enter Your Password"  style="background: whitesmoke;width: 100%"><br>
                    </td>
                    </div>
                </tr>
                <tr>
                    <td>
                        <span class="un" style="text-align: left">Confirm Password</span>
                        <label for="cpwd"></label>
                        <input class="form-control" type="text" id="cpwd" name="cpwd" placeholder="Confirm Password"  style="background: whitesmoke;width: 100%"><br>
                    </td>
                </tr>
            </table>
            <br><div style = "width:99%;
                        height:40px;">
                <input type="submit" class="btn btn-primary rounded submit p-3 px-5" value="Register" style="width: 99%;
                                                                                                             height:40px;
                                                                                                             background-color: mediumseagreen;">
                </div>
        </form>

    </div>
    <br><p style="margin-left: 30px;font-family: Calibri;text-align: center">Already have an account ?<a href="https://www.google.com/" style="color: mediumseagreen"> Login here</a>.</p>
</div>

</body>
</html>